
.DS_Store
demo/demo-ios/demo-ios.xcodeproj/xcuserdata/lzp.xcuserdatad/xcschemes/xcschememanagement.plist
demo/demo.xcworkspace/xcuserdata/lzp.xcuserdatad/UserInterfaceState.xcuserstate
KKPlayer/KKPlayer.xcodeproj/xcuserdata/lzp.xcuserdatad/xcschemes/xcschememanagement.plist
demo/demo-assset/google-help-vr.mp4
demo/demo-assset/The Three Diablos.mp4
demo/demo-ios/demo-ios.xcodeproj/xcuserdata/finger.xcuserdatad/xcschemes/xcschememanagement.plist
