
.DS_Store
demo/demo-ios/demo-ios.xcodeproj/xcuserdata/lzp.xcuserdatad/xcschemes/xcschememanagement.plist
demo/demo.xcworkspace/xcuserdata/lzp.xcuserdatad/UserInterfaceState.xcuserstate
KKPlayer/KKPlayer.xcodeproj/xcuserdata/lzp.xcuserdatad/xcschemes/xcschememanagement.plist
demo/demo-assset/google-help-vr.mp4
demo/demo-assset/The Three Diablos.mp4
demo/demo-ios/demo-ios.xcodeproj/xcuserdata/finger.xcuserdatad/xcschemes/xcschememanagement.plist

demo/demo.xcworkspace/xcuserdata/finger.xcuserdatad/UserInterfaceState.xcuserstate

demo/demo.xcworkspace/xcuserdata/finger.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
demo/demo-ios/demo-ios.xcodeproj/xcuserdata/KKFinger.xcuserdatad/xcschemes/xcschememanagement.plist
demo/demo.xcworkspace/xcuserdata/KKFinger.xcuserdatad/UserInterfaceState.xcuserstate
demo/demo.xcworkspace/xcuserdata/KKFinger.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
KKPlayer/KKPlayer.xcodeproj/xcuserdata/KKFinger.xcuserdatad/xcschemes/xcschememanagement.plist

KKPlayer/KKPlayer/Classes/KKAudioManager.zip

KKPlayer/KKPlayer/Classes/KKAVPlayer.zip

KKPlayer/KKPlayer/Classes/KKFFPlayer/KKFFmpeg.zip

KKPlayer/KKPlayer/Classes/KKGLDrawTool.zip

KKPlayer/KKPlayer/Classes/KKVideoToolBox.zip
